<div class="modal" id="modalDelete">
	<div class="modal-background"></div>
	<div class="modal-card">
		<!--<form action="" method="POST"> -->
			<header class="modal-card-head">
				<p class="modal-card-title"> ATTENTION vous allez supprimer votre compte</p>
				<button class="delete close" id="hideModalDelete" type="button" aria-label="close"></button>
			</header>
			<footer class="modal-card-foot">
				<div class="field is">
					<div class="control">
						<form method="POST" action="http://localhost:8080/api/user/dashboard/userdelete" >
							<button class="button is-danger" id="confirmDelete">Confirmer la Suppression</button>
						</form>
					</div>
					<div class="column is-2"></div>
					<div class="control">
						<form method="GET" action="http://localhost:8080/api/user/dashboard" >
							<button class="button is-success" id="cancelDelete">Annuler la Suppression</button>
						</form>
					</div>
				</div>
			</footer>
		<!--</form>-->
	</div>
</div>