<table cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td>
			<strong>Mail du contact </strong>
				<p>
					<ul>
						<li> ${dataForm.mailContact}</li>
					</ul>
					
				</p>
				
				
			</td>
			<td style="font-size: 0; line-height: 0;" width="100"> </td>
			<td>
				<strong>Nom du contact</strong>
				<p>
					<ul>   
						<li> ${dataForm.nameContact}</li>
					</ul>
				</p>
				
				
			</td>
		</tr>
	</tbody>
</table>
<br />
<br />
<strong> Contenu du message </strong>
<p>
	${dataForm.commentContact} 
</p>