<!DOCTYPE html>
		<html>
		
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title> TDR - profil utilisateur </title>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
			<!--<link rel="stylesheet" href="./assets/css/style.css"> -->
			<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		</head>
		
		<body>
			<section class="section ">
				<div class="container">
					<h1 class="title">
						<strong> Profil utilisateur </strong>
					</h1>
					<div class="columns">
						<!---->
						<div class="column is-5">
							
							<div class="box" id="name" >
								<div class="columns">
									<div class="column card-name ">
										<strong> Nom : </strong> <%= <!--user.name-->%>
									</div>
									
									<form action="" method="POST"  style="margin-top: 11px" class="is-hidden" id="formName">
										<div class="field has-addons">
											<div class="control">
												<input type="text" class="input is-small" name="content" value=""
													placeholder="Nom">
											</div>
											<div class="control">
												<button class="button is-small is-success" id="validateName">Valider</button>
											</div>
										</div>
									</form>
					
					
									<div class="column is-narrow">
										<a href="#" class="button--edit-card">
											<span class="icon is-small has-text-primary" id="modifyName">
												<i class="fas fa-pencil-alt" style="margin-top: 11px"></i>
											</span>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>
						<!---->
						<div class="column is-2">

						</div>
						<!---->
						<div class="column is-5">
							
							<div class="box"  id="phone">
								<div class="columns">
									<div class="column card-name ">
										<strong> Téléphone : </strong> <%= user.phone%>
									</div>
									
									<form action="" method="POST"  style="margin-top: 11px" class="is-hidden" id="formPhone">
										<div class="field has-addons">
											<div class="control">
												<input type="text" class="input is-small" name="content" value=""
													placeholder="Téléphone">
											</div>
											<div class="control">
												<button class="button is-small is-success"id="validatePhone">Valider</button>
											</div>
										</div>
									</form>
					
					
									<div class="column is-narrow">
										<a href="#" class="button--edit-card">
											<span class="icon is-small has-text-primary">
												<i class="fas fa-pencil-alt" style="margin-top: 11px"></i>
											</span>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>
						<!---->
					</div>
					<div class="columns">	
					<div class="column is-3">

						</div>
						<!---->
						<!---->
						<div class="column is-6">
							
							<div class="box"  id="password">
								<div class="columns">
									<div class="column card-name ">
										MOT DE PASSE 
									</div>
									
									<form action="" method="POST"  style="margin-top: 11px" class="is-hidden" id="formPassword">
										<div class="field has-addons">
											<div class="control">
												<input type="text" class="input is-small" name="content" value=""
													placeholder="Mot de passe">
											</div>
											<div class="control">
												<button class="button is-small is-success" id="validatePassword">Valider</button>
											</div>
										</div>
									</form>
					
					
									<div class="column is-narrow">
										<a href="#" class="button--edit-card">
											<span class="icon is-small has-text-primary">
												<i class="fas fa-pencil-alt" style="margin-top: 11px"></i>
											</span>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>
							<!---->
						<div class="column is-3">

						</div>
					</div>

					<div class="columns">
						<!---->
						<div class="column is-5">
							
							<div class="box"  id="mail">
								<div class="columns">
									<div class="column card-name ">
										<strong> E-mail : </strong> <%= user.mail%>
									</div>
									
									<form action="" method="POST"  style="margin-top: 11px" class="is-hidden" id="formMail">
										<div class="field has-addons">
											<div class="control">
												<input type="text" class="input is-small" name="content" value=""
													placeholder="e-mail">
											</div>
											<div class="control">
												<button class="button is-small is-success" id="validateMail">Valider</button>
											</div>
										</div>
									</form>
					
					
									<div class="column is-narrow">
										<a href="#" class="button--edit-card">
											<span class="icon is-small has-text-primary">
												<i class="fas fa-pencil-alt" style="margin-top: 11px"></i>
											</span>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>
						<!---->
						<div class="column is-2">

						</div>
						<!---->
						<div class="column is-5">
							
							<div class="box"  id="siret">
								<div class="columns">
									<div class="column card-name ">
										<strong> Siret : </strong> <%= user.siret%>
									</div>
									
									<form action="" method="POST"  style="margin-top: 11px" class="is-hidden" id="formSiret">
										<div class="field has-addons">
											<div class="control">
												<input type="text" class="input is-small" name="content" value=""
													placeholder="Siret">
											</div>
											<div class="control">
												<button class="button is-small is-success" id="validateSiret">Valider</button>
											</div>
										</div>
									</form>
					
					
									<div class="column is-narrow">
										<a href="#" class="button--edit-card" id="modify_SIRET">
											<span class="icon is-small has-text-primary">
												<i class="fas fa-pencil-alt" style="margin-top: 11px"></i>
											</span>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>
						<!---->
					
					<!---->
					</div>
					<div class="columns">
					<div class="column is-3">
						
						<button class="button is-danger">Supprimer</button>
					</div>
					<div class="column is-6">
					</div>
					<div class="column is-3">
						<button class="button is-success">Retour à l'accueil</button>
					</div>
				</div>
				
			</div>
				
						
			</section>

			<script src="../assets/dashBoardUser.js"></script>


		</body>
		
		
		
		
		
		</html>