.subtitle{ 
  font-size: 1.5em;
}



.container{
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/D02jqh.jpg) ;
  background-size: cover;
}

 .allBlock{

  position: absolute;
  bottom: 0;
  right: 37em;
  padding-bottom: 2em;


 }

.block_address {

display: inline-block;
width: 300px;
 height: 100%;
 margin: 0;
text-align: center;
color: white;
font-size:1.2em;

}
.contImg{


 
  position: absolute;
  right: 40%;
  bottom: 35%;
}




.all_block{


/*
margin: 0 7em auto;
position: fixed;
text-align: center;*/
}


