
body{
 /* width: 80%;*/

}


// .split{ height:100%;
//   width: 50%;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   overflow: hidden;
//   }
  
  .textAff{
 
  
  }
  
  
  .pAff{
    line-height: 2em;
  font-size: 1.5em;
  text-align: justify;
  padding: 1em;
  color: white;
  }
  

  .h2Aff {
    color: white;
    text-align: center;
    font-size: 3em;
  }
  
 .leftAff{
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
  }
  
  .rightAff{
    right: 0;
    background: url('../../assets/images/D02jqh.jpg') no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
  
  }
  
 .imgAff{
  //  position: absolute;
  //   top: 8em;
  //   left: 12em;
  // display: block;
  //   margin: auto;
  }