.title {
    margin: 5% auto;
     text-align: center;
  }
  
  

.contact {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 2%;   
   
}

#bg {
    background-color: #d2d4dc;

}

