@import '../../index.scss';

.title {
    margin: 5% auto;
    text-align: center;

    // @include sm {
    //     margin: 0 0;
    // }

    // @include xl {
    //     margin: 50% 50%;
    // }
}


.subtitle {
    margin: 5% auto;
}

#h2 {
    margin-top: 2%;
}
.quote {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    // @include flex(center, space-between, column nowrap);
}

.btn{
    margin-top: 2%;
}
.submit-btn:disabled{
    cursor: not-allowed;
}

.error {
    background: rgba(255, 0, 0, 0.2) !important;
    border: 1px solid red !important;
}

#bg {
    background-color: #d2d4dc;

}
