.title {
    margin: 5% auto;
     text-align: center;
  }
  

.subtitle {
    margin: 5% auto;
    
  }
  

.quote {
    width: 30%;
    margin: auto;
    text-align: center;
   
}

.submit{
    margin-top: 5%;
}
.submit-btn:disabled{
    cursor: not-allowed;
}

.error {
    background: rgba(255, 0, 0, 0.2) !important;
    border: 1px solid red !important;
}