

body {
    width: 80%;
}


// .split{
//     height:100%;
//     width: 50%;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     overflow: hidden;
    
//     }
    
    .textLog{
      /*
    position: absolute;
    left: 5em;
    top: 20em;
    margin-right: 5em;
    */
    }
    
    
    .pLog{
      line-height: 2em;
      font-size: 1.5em;
      text-align: justify;
      border-left: white 3px solid;
      padding: 1em;
      color: white;
     
    }
    
    .h2Log{
        color: white;
        text-align: center;
        font-size: 3em;
        
    }
    
    .leftLog{
      left:0;
      background: url('../../assets/images/D02jqh.jpg') no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
     
    
    
    .rightLog{
      right: 0;
      
    
    }
    
    .imgLog {
      // position: absolute;
      // top: -6%;
      // left: 7em;
    }
    
    
    
    
    
    
    