





    
    .textLog {
   
    }
    
    
    .pLog{
      line-height: 2em;
      font-size: 1.5em;
      text-align: justify;
      border-left: white 3px solid;
      padding: 1em;
      color: white;
     
    }
    
    .h2Log{
        color: white;
        text-align: center;
        font-size: 3em;
        
    }
    
    .leftLog{
      left:0;
      background: url('../../assets/images/D02jqh.jpg') no-repeat;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3em;
  }
     
    
    
    .rightLog{
      right: 0;
      padding-left: 9em;
      
    
    }
    
    .imgLog {
      // position: absolute;
      // top: -6%;
      // left: 7em;
    }
    
    
    
    
    
    
    