.modale {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}

#devispro {
   margin-right: 20px;
}

#devispart {
    margin-left: 20px;
 }