.modale {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}

#devispro {
    margin-right: 30px;
}

#devispart {
    margin: 30px;
}

 #backhome {
    margin-left: 30px;
    
}